name: Deploy to Portainer

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy stack to Portainer
        env:
          STACK_ID: "4"
          ENDPOINT_ID: "3"
        run: |
          COMPOSE=$(base64 -w 0 docker-compose.yml)

          curl -s -X PUT "https://docker.vicezion.com/api/stacks/${STACK_ID}?endpointId=${ENDPOINT_ID}" \
            -H "X-API-Key: ${{ secrets.PORTAINER_TOKEN }}" \
            -H "Content-Type: application/json" \
            --data "{\"StackFileContent\":\"$(echo ${COMPOSE} | base64 -d)\",\"Prune\":true}"
